@charset "UTF-8";

@mixin container-history {

    .container-history {

        .label-empty {
            text-align: center;
            color: $color-label-gray;
            padding-top: 30px;
        }

        .v-slot-separator-vertical {
            width: 1px;

            .separator-vertical {
                margin-left: 1px;
                border-left: 1px dotted $color-separator;
            }
        }

        .panel-messages {
            font-size: 13px;
            border-width: 0;
            background-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;

            .v-slot {
                margin-bottom: 5px;
            }

            .v-button {
                text-align: left;
                border: none;
                background: rgb(250, 250, 250) none;
                -webkit-box-shadow: none;
                box-shadow: none;
                color: $color-main-font-inactive;
            }

            .v-button:focus:after {
                border: none;
                box-shadow: none;
                -webkit-box-shadow: none;
            }

            .active {
                color: $color-main-font;
                background-color: $color-button-transparent;
            }
        }

        .panel-message {
            border-width: 0;
            background-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-size: 13px;

            .v-verticallayout {

                .v-slot {
                    margin-bottom: 15px;
                }

                .label-actual {
                    border: 2px solid;
                    background-color: white;
                    text-align: center;
                    line-height: 26px;
                    vertical-align: middle;
                }

                .label-active {
                    color: $color-green;
                    border-color: $color-green;
                }

                .label-finished {
                    color: $color-blue;
                    border-color: $color-blue;
                }

                .v-panel {
                    border-width: 0;
                    background-color: transparent;
                    -webkit-box-shadow: none;
                    box-shadow: none;

                    .grid-advert {
                        word-wrap: break-word;

                        .v-gridlayout-spacing-on {
                            padding-top: 3px;
                            padding-left: 3px;
                        }

                        .v-gridlayout-slot {
                            background: white;

                            .v-label {
                                vertical-align: middle;
                                padding: 3px 5px;
                            }
                        }

                        .v-gridlayout-slot:nth-child(even) {
                            background-color: $color-window-bg;

                            .v-label {
                                font-weight: bold;
                            }
                        }
                    }

                    .v-gridlayout-margin-top {
                        padding: 0;
                    }
                    .v-gridlayout-margin-bottom {
                        padding: 0;
                    }
                    .v-gridlayout-margin-left {
                        padding: 0;
                    }
                    .v-gridlayout-margin-right {
                        padding: 0;
                    }
                }

                .subject-label,
                .body-label {
                    word-wrap: break-word;
                    min-height: 40px;
                    vertical-align: middle;
                }

                .subject-label {
                    font-weight: bold;
                }
            }
        }
    }
}
