@charset "UTF-8";

@mixin container-incoming {

    .container-incoming {
        font-size: 13px;

        .v-slot-separator-vertical {
            width: 1px;

            .separator-vertical {
                margin-left: 1px;
                border-left: 1px dotted $color-separator;
            }
        }

        .panel-category {
            border-width: 0;
            background-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;

            .category-layout {
                padding-top: 2px;
                padding-right: 2px;
                padding-left: 2px;

                .v-slot {
                    margin-bottom: 5px;
                }

                .v-button {

                    .v-icon {
                        margin-top: -4px;
                    }
                }
            }

            .list-layout {

                .empty-label {
                    text-align: center;
                    color: $color-label-gray;
                    padding-top: 30px;
                }
            }
        }
    }
}
