@charset "UTF-8";

@mixin container-pattern-poll {

    .container-pattern-poll {

        .v-slot-separator {
            height: 10px;

            .separator {
                margin-top: 10px;
                background-color: $color-separator;
            }
        }

        .v-slot-separator-vertical {
            width: 1px;

            .separator-vertical {
                margin-left: 1px;
                border-left: 1px dotted $color-separator;
            }
        }

        .v-verticallayout {
            font-size: 13px;

            .label-edit {
                font-size: 12px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 12px;
                color: $color-label-gray;
            }

            .pattern-button {
                text-align: left;
                border: none;
                background: rgb(234, 234, 234) none;
                -webkit-box-shadow: none;
                box-shadow: none;
                color: $color-main-font;
                word-wrap: normal;
            }

            .pattern-button:focus:after {
                border: none;
                box-shadow: none;
                -webkit-box-shadow: none;
            }

            .button-active {
                color: $color-main-font;
                background-color: $color-button-transparent;
            }

            .panel-patterns-edit {
                border-width: 0;
                background-color: transparent;
                -webkit-box-shadow: none;
                box-shadow: none;

                .v-slot {
                    margin-bottom: 5px;
                }
            }
        }

        .panel-pattern {
            font-size: 13px;
            border-width: 0;
            background-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;

            .v-verticallayout {

                .layout-row {
                    font-size: 13px;
                    padding-left: 2px;

                    .spacer-empty {
                        margin-left: 150px;
                    }

                    .body-text-area {
                        padding: $padding-v-small 5px;
                    }

                    .v-filterselect {
                        font-size: 13px;
                    }

                    .v-label {
                        line-height: 28px;
                        text-align: right;
                        margin-right: 25px;
                    }

                    .v-label.v-disabled {
                        color: $color-label-gray;
                    }

                    .v-checkbox {
                        vertical-align: baseline;

                        label {
                            padding-left: $padding-h-small;
                        }
                    }
                }
            }
        }
    }
}
