@charset "UTF-8";

@mixin container-pattern-style {

    .container-pattern-style {

        .v-verticallayout {

            .v-verticallayout-slot {
                margin-bottom: 25px;
            }

            .style-button {
                text-align: center;
                border: none;
                background: transparent none;
                -webkit-box-shadow: none;
                box-shadow: none;
                color: $color-main-font-inactive;
                vertical-align: middle;
            }

            .style-button:focus:after {
                border: none;
                box-shadow: none;
                -webkit-box-shadow: none;
            }

            .active {
                color: $color-main-font;
                background-color: $color-button-transparent;
            }

            .v-label {
                padding: 10px 25px;
                font-size: 13px;
            }
        }
    }
}
