@charset "UTF-8";

@mixin container-requests {

    .container-requests {
        font-size: 13px;

        .label-empty {
            text-align: center;
            color: $color-label-gray;
            padding-top: 30px;
        }

        .v-slot-separator-vertical {
            width: 1px;

            .separator-vertical {
                margin-left: 1px;
                border-left: 1px dotted $color-separator;
            }
        }

        .panel-requests {
            border-width: 0;
            background-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;

            .v-panel {
                border-width: 0;
                background-color: transparent;
                -webkit-box-shadow: none;
                box-shadow: none;

                .grid-requests {
                    word-wrap: break-word;

                    .v-gridlayout-spacing-on {
                        padding-top: 3px;
                        padding-left: 3px;
                    }

                    .v-gridlayout-slot {
                        background: white;

                        /* nested grid */
                        .v-gridlayout {

                            .v-gridlayout-spacing-on {
                                padding-top: 3px;
                                padding-left: 3px;
                            }

                            .v-gridlayout-slot {
                                background-color: white;
                            }

                            .v-gridlayout-slot:nth-child(even) {
                                //font-weight: bold;
                            }
                        }

                        /* nested grid */
                        .v-gridlayout-margin-top {
                            padding: 0px;
                        }
                        .v-gridlayout-margin-bottom {
                            padding: 0px;
                        }
                        .v-gridlayout-margin-left {
                            padding: 0px;
                        }
                        .v-gridlayout-margin-right {
                            background-color: $color-main-bg;
                            padding: 0px;
                        }

                        .v-label {
                            padding: 3px 5px;
                        }

                        .label-header {
                            font-weight: bold;
                            text-align: center;
                            vertical-align: middle;
                            line-height: 40px;
                            background-color: $color-window-bg;
                            padding: 0;
                        }
                    }
                }

                .v-gridlayout-margin-top {
                    padding: 0;
                }
                .v-gridlayout-margin-bottom {
                    padding: 0;
                }
                .v-gridlayout-margin-left {
                    padding: 0;
                }
                .v-gridlayout-margin-right {
                    padding: 0;
                }
            }
        }
    }
}
