@charset "UTF-8";

@mixin container-request {

    .container-request {
        font-size: 13px;

        .panel-service {
            border-width: 0;
            background-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;

            .service-layout {
                padding-top: 2px;
                padding-right: 2px;
                padding-left: 2px;

                .v-slot {
                    margin-bottom: 5px;
                }
            }
        }

        .v-slot-separator-vertical {
            width: 1px;

            .separator-vertical {
                margin-left: 1px;
                border-left: 1px dotted $color-separator;
            }
        }

        .panel-request {
            font-size: 13px;
            border-width: 0;
            background-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;

            .request-layout {

                .empty-label {
                    text-align: center;
                    color: $color-label-gray;
                    padding-top: 30px;
                }

                .component-request {
                    padding: $padding-v $padding-h;

                    .layout-label {
                        padding-right: $padding-h;

                        .v-slot {
                            margin-top: 8px;
                        }

                        .v-slot:first-child {
                            margin-top: 0;
                        }

                        .label-time {
                            color: $color-label-gray;
                            text-align: center;
                            min-height: 28px;
                            vertical-align: middle;
                        }

                        .label-status {
                            border: 2px solid;
                            background-color: white;
                            text-align: center;
                            line-height: 26px;
                            vertical-align: middle;
                        }

                        .label-active {
                            color: $color-green;
                            border-color: $color-green;
                        }

                        .label-finished {
                            color: $color-blue;
                            border-color: $color-blue;
                        }

                        .label-stopped {
                            color: $color-red;
                            border-color: $color-red;
                        }
                    }

                    .layout-choices {
                        border-bottom: 1px solid $color-main;
                        padding-bottom: $padding-v;

                        .label-name {
                            text-align: right;
                            word-wrap: break-word;
                            min-height: 28px;
                            font-weight: bold;
                            color: $color-main;
                        }

                        .label-value {
                            padding-left: $padding-h-small;
                            word-wrap: break-word;
                            min-height: 28px;
                        }
                    }
                }
            }
        }
    }
}
