@charset "UTF-8";

@mixin layout-application {

    .layout-application {
        padding-left: $padding-h;
        padding-top: 20px;
        padding-right: $padding-h;

        .layout-row {

            .cell {
                background-color: white;
                border: 2px solid $color-main-bg;
            }

            .v-label {
                @extend .cell;
                padding: $padding-v-small $padding-h-small;
                white-space: nowrap;
            }

            .v-textfield {
                @extend .cell;
            }

            .v-button {
                @extend .cell;
                background-image: none;
            }

            .v-button-caption {
                text-decoration: underline;
            }

            .v-textfield:focus {
                border: 1px solid $color-focus !important;
                box-shadow: none !important;
                -webkit-box-shadow: none !important;
                box-sizing: border-box;
            }

            .v-slot:first-child {
                .v-label {
                    border-left: none;
                }
            }

            .v-slot:last-child {
                .v-label {
                    border-right: none;
                }
            }
        }

        .v-slot-layout-row:first-child {

            .v-label {
                border-top: none;
                background-color: $color-window-bg;
                font-weight: bold;
                text-align: center;
            }
        }

        .v-slot-layout-row:last-child {

            .v-label {
                border-bottom: none;
            }
        }
    }
}
