@charset "UTF-8";

@mixin layout-strings {

    .layout-strings {

        .v-horizontallayout {

            .v-slot {
                margin-left: 5px;
            }

            .v-button {
                margin-right: 0;
            }

            .v-icon {
                vertical-align: top;
                padding-top: 6px;
            }

            .v-horizontallayout {
                padding-right: 14px;

                .v-slot {
                    margin-left: 0;
                }
            }
        }

        .v-slot {
            margin-bottom: 2px;
        }
    }
}
