@charset "UTF-8";

@mixin layout-strings {

    .layout-strings {

        .v-button {
            margin-right: 5px;
            margin-left: 5px;
            padding: 0 2px;
        }

        .v-button:after {
            width: 18px;
            padding: 0 2px;
        }

        .v-slot {
            margin-bottom: 2px;
        }

        .v-icon {
            vertical-align: top;
            padding-top: 6px;
            margin-left: 0;
        }
    }
}
