@charset "UTF-8";

@mixin layout-table {

    .layout-table {
        width: 100%;
        padding-right: 25px;
        padding-left: 25px;

        th, td {
            padding: 3px 5px;
        }

        th {
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
            line-height: 40px;
            background-color: $color-window-bg;
        }

        td {
            background-color: white;
        }
    }
}
