@charset "UTF-8";

%gradient-dark-important {
    background: $color-gradient-dark-from; /* Old browsers */
    background: -moz-linear-gradient(top, $color-gradient-dark-from 2%, $color-gradient-dark-to 98%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, $color-gradient-dark-from), color-stop(98%, $color-gradient-dark-to)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $color-gradient-dark-from 2%, $color-gradient-dark-to 98%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $color-gradient-dark-from 2%, $color-gradient-dark-to 98%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $color-gradient-dark-from 2%, $color-gradient-dark-to 98%) !important; /* IE10+ */
    background: linear-gradient(to bottom, $color-gradient-dark-from 2%, $color-gradient-dark-to 98%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-gradient-dark-from', endColorstr='$color-gradient-dark-to', GradientType=0); /* IE6-9 */
}
