@charset "UTF-8";

%gradient-light {
    background: $color-gradient-light-from; /* Old browsers */
    background: -moz-linear-gradient(top, $color-gradient-light-from 2%, $color-gradient-light-to 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, $color-gradient-light-from), color-stop(98%, $color-gradient-light-to)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $color-gradient-light-from 2%, $color-gradient-light-to 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $color-gradient-light-from 2%, $color-gradient-light-to 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $color-gradient-light-from 2%, $color-gradient-light-to 98%); /* IE10+ */
    background: linear-gradient(to bottom, $color-gradient-light-from 2%, $color-gradient-light-to 98%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-gradient-light-from', endColorstr='$color-gradient-light-to', GradientType=0); /* IE6-9 */
}
