@charset "UTF-8";

$v-font-family: "Arial", "Helvetica", sans-serif;
$v-border-radius: 0;
$v-shadow-opacity: 0%;
$v-font-size: 15px;
$v-unit-size: 28px;

$padding-v: 10px;
$padding-v-small: 5px;
$padding-h: 25px;
$padding-h-small: 10px;

$app-min-width: 800px;
$app-max-width: 1280px;
$app-min-height: 600px;

$color-main: rgb(49, 172, 197);
$color-main-font: rgb(70, 70, 70);
$color-main-bg: rgb(242, 242, 242);

$color-second: rgba(49, 172, 197, .5);
$color-second-dark: rgb(38, 133, 153);

$color-button-transparent: rgba(158, 234, 255, 0.7);
$color-label-gray: rgb(166, 166, 166);
$color-separator: rgb(180, 180, 180);
$color-window-bg: rgb(219, 238, 244);

$color-gradient-light-from: #e4f9ff;
$color-gradient-light-to: #9eeaff;

$font-size-small: 13px;

@import "../valo/valo.scss";
@import "addons.scss";
@import "legenda.scss";

.legenda {
    @include addons;
    @include legenda;
}
