@charset "UTF-8";

@mixin panel-dialog {

    .panel-dialog {
        border-width: 0;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: $font-size-small;

        .component-dialog {

            .v-slot:first-child {

                .v-horizontallayout {
                    border-top: none;
                }
            }
        }

        .form-row-read {
            padding: $padding-v $padding-h;
            border-top: 1px dotted $color-separator;

            .layout-meta {

                .v-label {
                    text-align: right;
                }

                .label-time {
                    color: $color-main;
                }

                .recipient-label {
                    color: $color-label-gray;
                }

                .menuitem-active {
                    color: $color-main;
                    font-weight: bold;
                }

                .body-label {
                    padding-bottom: 20px;
                    text-align: justify;
                    word-wrap: break-word;
                }
            }

            .layout-message {

                .label-subject {
                    color: $color-main;
                }

                .label-description {
                    color: $color-main-font;
                }

                .label-body {
                    color: $color-main-font;
                }

                .group-choices {
                    font-size: 12px;
                    padding-top: 5px;

                    label {
                        padding-left: 8px;
                        line-height: 18px;
                    }

                    label:before,
                    label:after {
                        line-height: 18px;
                    }
                }

                .field-answer {
                }

                .button-submit {
                }
            }
        }

        .form-row-read:hover {
            background-color: rgba(0, 0, 0, .05);
        }

        .form-row-read.layout-clickable {
            cursor: pointer;
        }

        .form-row-read.layout-clickable:hover {
        }

        .form-row-read.layout-new {
            background-color: rgba(0, 0, 0, .05);

            .label-time,
            .label-author,
            .label-subject,
            .label-description {
                font-weight: bold;
            }
        }

        .form-row-read.layout-new:hover {
            background-color: rgba(0, 0, 0, .075);
        }

        .empty-label {
            text-align: center;
            color: $color-label-gray;
            padding-top: 30px;
        }

        .layout-more {
            background-color: rgba(0, 0, 0, .05);
            cursor: pointer;
            border-top: 1px dotted $color-separator;

            .label-more {
                text-align: center;
                vertical-align: middle;
                line-height: 50px;
                color: $color-label-gray;
            }
        }

        .layout-more:hover {
            background-color: rgba(0, 0, 0, .075);
        }
    }
}
