@charset "UTF-8";

@mixin panel-settings {

    .panel-settings {
        border-width: 0;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 13px;
        padding-right: $padding-h;

        .header-table {
            padding-left: $padding-h;
            padding-top: 10px;

            .v-label {
                text-align: right;
            }

            .v-label.label-warning {
                color: $color-red;
                text-align: left;
                margin-left: 16px;
            }

            .v-textfield {
                margin-left: 25px;
                padding: $padding-v-small $padding-h-small;
                font-size: 13px;
            }

            .v-textfield.second {
                margin-left: 16px;
            }

            .v-filterselect {
                margin-left: 25px;
                font-size: 13px;
            }
        }

        .code-string {
            font-size: 13px;
            padding-left: $padding-h;
            padding-top: 20px;
            padding-bottom: 5px;

            .v-horizontallayout {
                padding-left: 25px;
            }
        }
    }
}
