@charset "UTF-8";

@mixin window-folder {

    .window-folder {
        font-size: 13px;
        padding: $padding-v $padding-h $padding-v * 2 $padding-h;
        background-color: $color-window-bg;

        .v-slot {
            margin-top: 10px;
        }

        .label-empty {
            text-align: center;
            color: $color-label-gray;
            padding-top: 30px;
            padding-right: 25px;
        }

        .layout-folders {
            background-color: white;
            padding-left: 25px;

            .v-slot {
                margin: 0;
            }

            .panel-folders {
                border-width: 0;
                background-color: white;
                -webkit-box-shadow: none;
                box-shadow: none;
                border-top: 10px solid white;
                border-bottom: 10px solid white;

                .v-tree {
                    border-width: 0;
                    background-color: transparent;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    padding-right: 25px;

                    .v-tree-node-caption {
                        margin-bottom: 5px;
                    }

                    .v-tree-node {

                        .v-tree-node-caption {
                            min-height: 30px;
                            line-height: 30px;
                            vertical-align: bottom;
                            background-color: rgb(245, 245, 245);

                            .v-icon {
                                margin-top: -3px;
                            }
                        }

                        .v-tree-node-caption:after {
                            border: none !important;
                            box-shadow: none !important;
                            -webkit-box-shadow: none !important;
                            box-sizing: border-box;
                            margin-top: -30px;
                            margin-left: -25px;
                        }
                    }

                    .v-tree-node-selected {
                        color: $color-main-font;
                    }

                    .v-tree-node-selected:after {
                        background: $color-button-transparent none;
                        min-height: 30px;
                    }

                    .v-tree-node-leaf {
                    }

                    .v-tree-node-children {
                    }
                }
            }

            .layout-action {
                padding: 2px 25px 10px 0;

                .v-button {
                    margin-left: 10px;
                }
            }
        }

        .layout-submit {
            background-color: white;
            padding: 10px 25px;

            .v-slot {
                margin: 0;
            }
        }
    }
}
