@charset "UTF-8";

@mixin window-login {

    /**
    * For nobrand windows
    */
    .window-login {
        -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);

        .window-login-layout {
            font-size: 13px;
            padding: $padding-v $padding-h $padding-v * 2 $padding-h;
            background-color: $color-window-bg;

            .layout-row {
                padding: $padding-v $padding-h;
                background-color: white;
                margin-top: 10px;

                .v-verticallayout {

                    .v-slot {
                        margin-bottom: 5px;
                    }

                    .label-wait {
                        text-align: center;
                        padding: 0;
                    }
                }

                .v-label {
                    padding-right: $padding-h;
                }

                .v-button {
                    margin-right: 0;
                }
            }

            .layout-row-merge {
                @extend .layout-row;
                margin-top: 0;
                padding-top: 0;
            }
        }
    }
}
