@charset "UTF-8";

@mixin window-pattern {

    .window-pattern {
        font-size: 13px;
        padding: $padding-v $padding-h $padding-v * 4 $padding-h;
        background-color: $color-window-bg;

        .v-slot {
            margin-top: 10px;
        }

        .empty-label {
            text-align: center;
            color: $color-label-gray;
            padding-top: 30px;
        }

        .label-filter {
            margin-bottom: -10px;
        }

        .layout-folders {
            background-color: white;
            padding-left: 25px;

            .v-slot {
                margin: 0;
            }

            .panel-folders {
                border-width: 0;
                background-color: white;
                -webkit-box-shadow: none;
                box-shadow: none;
                border-top: 10px solid white;
                border-bottom: 10px solid white;

                .empty-label {
                    margin-left: -12px;
                }

                .v-tree {
                    border-width: 0;
                    background-color: transparent;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    padding-right: 25px;

                    .v-tree-node-caption {
                        margin-bottom: 5px;
                    }

                    .v-tree-node {

                        .v-tree-node-caption {
                            min-height: 30px;
                            line-height: 30px;
                            vertical-align: bottom;
                            background-color: rgb(245, 245, 245);

                            .v-icon {
                                margin-top: -3px;
                            }
                        }

                        .v-tree-node-caption:after {
                            border: none !important;
                            box-shadow: none !important;
                            -webkit-box-shadow: none !important;
                            box-sizing: border-box;
                            margin-top: -30px;
                            margin-left: -25px;
                        }
                    }

                    .v-tree-node-selected {
                        color: $color-main-font;
                    }

                    .v-tree-node-selected:after {
                        background: $color-button-transparent none;
                        min-height: 30px;
                    }

                    .v-tree-node-leaf {
                    }

                    .v-tree-node-children {
                    }
                }
            }

            .v-checkbox {

                label {
                    padding-left: $padding-h-small;
                }
            }
        }

        .layout-tags {
            background-color: white;
            padding: 10px 25px;

            .v-slot {
                margin: 0;
            }
        }

        .panel-patterns {
            border-width: 0;
            background-color: white;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-top: 10px solid white;
            border-bottom: 10px solid white;

            .v-verticallayout {
                padding: 0px 25px;

                .v-slot {
                    margin-top: 5px;
                }

                .v-slot:first-child {
                    margin-top: 0;
                }

                .pattern-button {
                    text-align: left;
                    border: none;
                    background: rgb(245, 245, 245) none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    color: $color-main-font;
                    word-wrap: normal;
                }

                .pattern-button:focus:after {
                    border: none;
                    box-shadow: none;
                    -webkit-box-shadow: none;
                }

                .button-active {
                    color: $color-main-font;
                    background-color: $color-button-transparent;
                }
            }
        }

        .layout-submit {
            background-color: white;
            padding: 10px 25px;

            .v-slot {
                margin: 0;
            }
        }
    }
}
