@charset "UTF-8";

@mixin window-request {

    .window-request {
        font-size: 13px;
        padding: $padding-v $padding-h $padding-v * 3 $padding-h;
        background-color: $color-window-bg;

        .v-slot {
            margin-top: 10px;
        }

        .label-description {
            padding: 10px 0;
        }

        .layout-questions {
            background-color: white;
            padding: 10px 25px;

            .v-slot {
                margin: 0;
            }
        }

        .panel-questions {
            border-width: 0;
            background-color: white;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-top: 10px solid white;
            border-bottom: 10px solid white;

            .v-verticallayout {

                .v-slot {
                    margin-top: 10px;
                }

                .v-slot:first-child {
                    margin-top: 0;
                }

                .v-horizontallayout {
                    padding: 2px 25px;

                    .v-slot {
                        margin-top: 0;
                    }

                    .v-label {
                        vertical-align: top;
                        padding-top: 4px;
                    }

                    .v-checkbox {
                        margin-right: 10px;

                        label {
                            margin-top: 2px;
                            padding-left: 10px;
                        }

                        label:before,
                        label:after {
                            margin-top: 5px;
                        }
                    }

                    .v-select-optiongroup {
                        vertical-align: top;

                        .v-checkbox {

                            label {
                                padding-left: 10px;
                            }

                            label:before,
                            label:after {
                                margin-top: 0;
                            }
                        }
                    }

                    .v-verticallayout {
                        .v-slot {
                            margin-top: 5px;
                        }

                        .v-slot:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }
        }

        .layout-submit {
            background-color: white;
            padding: 10px 25px;

            .v-slot {
                margin: 0;
            }
        }
    }
}
