@charset "UTF-8";

@mixin window-video {

    .window-video {
        font-size: 13px;
        padding: $padding-v $padding-h $padding-v * 2 $padding-h;
        background-color: $color-window-bg;

        .layout-row {
            padding: $padding-v $padding-h;
            margin-top: 10px;
            background: white url("../../img/spinner.gif") no-repeat center;

            .v-slot {
                padding-left: 25px;
            }

            .v-slot:first-child {
                padding-left: 0;
            }

            #vlc {
                width: 640px !important;
                height: 480px !important;
            }
        }
    }
}
